@model IEnumerable<SymCMS.ViewModels.PostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SymCMS</h1>
    <p class="lead">This is a SymCMS blog.</p>
    <p><a href="/Home/Index" class="btn btn-primary btn-lg">SymCMS</a></p>
</div>


<h1 class="text-capitalize text-primary">Latest posts</h1>

<div id="carouselExampleControls" class="carousel slide shadow shadow-lg" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <h2>@Model.First().Title</h2>
            <hr />
            <div>
                <h3 class="bg-light rounded w-50">@Model.First().Category.Name</h3>
            </div>
            <hr />
            <textarea class="form-control rounded overflow-hidden" rows="5" readonly="readonly">
                @Model.First().Content.Trim(' ')
            </textarea>
            <p class="mt-1"><a class="btn btn-info" href="/Admin/Details/@Model.First().Id">Details &raquo;</a></p>
        </div>
        @foreach (var post in Model.Where(m => m.Id != Model.First().Id))
        {
            <div class="carousel-item">
                <h2>@post.Title</h2>
                <hr />
                <div>
                    <h3 class="bg-light rounded w-50">@post.Category.Name</h3>
                </div>
                <hr />
                <textarea class="form-control rounded overflow-hidden" rows="5" readonly="readonly">
                @post.Content.Trim(' ')
            </textarea>
                <p class="mt-1"><a class="btn btn-info" href="/Admin/Details/@post.Id">Details &raquo;</a></p>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>