@model SymCMS.ViewModels.PostViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostModel</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>*@
    <div class="card">
        <div class="card-header">
            <div class="form-inline col-4">
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>
        <div class="card-body">
            <div class="form-inline col-4">
                @Html.DisplayFor(model => model.Content)
            </div>
        </div>
    </div>
</div>
<div class="row m-0 mt-2">
    <form action="/PostModels/Edit/@Model.Id">
        <input class="btn btn-outline-secondary mr-3" type="submit"  value="Edit"/>
    </form>
    <form action="/PostModels">
        <input class="btn btn-outline-secondary" type="submit" value="Back to List" />
    </form>
</div>
