<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SymCMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>

        .vertical-nav {
            min-width: 17rem;
            width: 20rem;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.4s;
        }

        .page-content {
            width: calc(100% - 17rem);
            margin-left: 17rem;
            transition: all 0.4s;
        }

        /* for toggle behavior */

        #sidebar.active {
            margin-left: -20rem;
        }

        #content.active {
            width: 100%;
            margin: 0;
        }

        body {
            background: #599fd9;
            background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
            background: linear-gradient(to right, #599fd9, #c2e59c);
            min-height: 100vh;
            overflow-x: hidden;
        }

        .separator {
            margin: 3rem 0;
            border-bottom: 1px dashed #fff;
        }

        .text-uppercase {
            letter-spacing: 0.1em;
        }

        .text-gray {
            color: #aaa;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col-12">
            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@User.Identity.Name</h4>
                            <p class="font-weight-light text-muted mb-0">
                                @if (User.IsInRole("Administrator"))
                                {
                                    <text>Administator</text>
                                }
                                else if (User.IsInRole("Editor"))
                                {
                                    <text>Editor</text>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col justify-content-start mt-3">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()



                            <form id="logoutForm" action="javascript:document.getElementById('logoutForm').submit()">
                                <input type="submit" class="btn btn-outline-danger w-100 ml-0" value="Log off" />
                            </form>

                        }
                    </div>
                </div>

                <div class="col ">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleSitemap" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Site map</p>
                    </button>

                    <div class="collapse" id="navbarToggleSitemap">
                        <ul class="nav flex-column bg-white mb-0">
                            <li class="nav-item">
                                <a href="/Home/Index/" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Home/About/" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Home/Contact/" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                                    Contact
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Posts/Index" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </div>


                    <br/>
                    <br/>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglePosts" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Posts</p>
                    </button>

                    <div class="collapse" id="navbarTogglePosts">
                        <ul class="nav flex-column bg-white mb-0">
                            <li class="nav-item">
                                <a href="/Admin/CreatePost" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                                    New post
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/PostsView" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                                    Show all posts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/PostsView" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                                    Edit posts
                                </a>
                            </li>
                        </ul>
                    </div>


                    <br/>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglePages" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0" style="width: inherit;">Pages</p>
                    </button>

                    <div class="collapse" id="navbarTogglePages">
                        <ul class="nav flex-column bg-white mb-0">
                            <li class="nav-item">
                                <a href="/Pages/Create" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                                    New page
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Pages/PagesView" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                                    All pages
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Pages/PagesView" class="nav-link text-dark font-italic bg-light">
                                    <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                                    Edit pages
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="page-content p-5" id="content">
                    <!-- Toggle button -->
                    <button id="sidebarCollapse" type="button" onclick=" $('#sidebar, #content').toggleClass('active')" class="btn btn-light bg-white rounded-pill shadow-sm mb-4"><small class="text-uppercase font-weight-bold">Menu</small></button>

                    @RenderBody()
                    <hr />
                    <footer class="justify-content-center">
                          <p>&copy; @DateTime.Now.Year - SymCMS</p>
                    </footer>
                    </div>
                </div>
            </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
