@using System.Data.Entity
@using SymCMS.Services
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SymCMS</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#"><strong>SymCMS</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="btn btn-primary" href="/Home/Index/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" href="/Posts/Index">Blog</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <form action="/Pages/PagesView/">
                                    <button type="submit" disabled class="btn btn-primary">Pages</button>
                                </form>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                                </button>
                                <div class="dropdown-menu dropdown-pink" aria-labelledby="navbarDropdownMenuLink-7">
                                    @foreach (var page in new PageService().GetAllPages())
                                    {
                                        <a class="dropdown-item" href="/Pages/Details/@page.PageId">@page.Title</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @*<li class="nav-item">
                            <a class="btn btn-primary" href="#">Link</a>
                        </li>*@
                    </ul>
                    @*<form class="form-inline">
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </form>*@
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - SymCMS</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
