@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
       
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
            <form id="adminPanelEnter" action="/Admin/Panel/">
                <button class="btn btn-danger" type="submit">Admin Panel</button>
            </form>
        </li>
        <li class="nav-item active">
            <a class="nav-link text-success">@User.Identity.GetUserName()</a>

        </li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
           @Html.AntiForgeryToken()

         <li class="nav-item active">
            <form id="logoutForm" action="javascript:document.getElementById('logoutForm').submit()"><button type="submit" class="btn btn-primary">Log off</button></form>
         </li>
        }
    </ul>
        
    }else { 
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                   Hello @User.Identity.GetUserName()
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li class="mr-3">
            <form action="/Account/Login" id="loginLink">
                <button class="btn btn-outline-primary" role="button" type="submit">Sgin In</button>
            </form>
        </li>
        <li class="mr-3">
            <form action="/Account/Register" id="registerLink">
                <button class="btn btn-primary" role="button" type="submit">Sgin Up</button>
            </form>
        </li>
    </ul>
}
