@model SymCMS.ViewModels.PageViewModels

@{
    ViewBag.Title = "Create";
}

<h2 class="display-2">Create page</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
        </div>

        @Html.LabelFor(model => model.Author, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Author, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Author, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="Content">Content</label>
            <textarea id="Content" name="Content"></textarea>
            @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
        </div>
    </div>
    <div id="mainMenu" class="mainMenuOverlay floating2">
        <div class="navire floating3"></div>
        <div class="itemMenuBox editorAdd">
            <a href="javascript:void(0)" id="addEditor" class="itemMenu ">
                <i class="fas fa-file-alt" aria-hidden="true"></i>
            </a>
        </div>
        <div class="itemMenuBox galleryAdd">
            <a href="javascript:void(0)" id="addGallery" class="itemMenu ">
                <i class="fas fa-images" aria-hidden="true"></i>
            </a>
        </div>
        <div class="itemMenuBox crouselAdd">
            <a href="javascript:void(0)" id="addCarousel" class="itemMenu ">
                <i class="fas fa-angle-left small"></i>
                <i class="far fa-image small"></i>
                <i class="fas fa-angle-right small"></i>
            </a>
        </div>

        <a href="javascript:void(0)" class="toggleMenu floating">
            <i class="fas fa-bars" aria-hidden="true"></i>
        </a>
    </div>

    <div class="m-3" id="modules" class="modules">
    </div>
    @Html.HiddenFor(model => model.AdditionalContent)

    <div class="form-group">
        <div class="switch_box box_1 justify-content-start">
            @Html.LabelFor(model => model.CommentsEnabled, new {@class = "control-label mr-5 col-md-1"})
            @Html.EditorFor(model => model.CommentsEnabled, new {htmlAttributes = new {@class = "switch_1 col-md-1 ml-5 justify-content-start"}})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" id="createBtn"/>
        </div>
    </div>
}

<div>
    <form action="/Admin/PostsView/">
        <input type="submit" class="btn btn-outline-dark" value="Back to list"/>
    </form>
</div>

@section Scripts{
    <script src="https://kit.fontawesome.com/ef60b1b2c0.js" crossorigin="anonymous"></script>
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <script>
        var galleryId = 0;
        var carouselId = 0;
        var editorId = 0;

        $(document).ready(function() {

            $('#addGallery').click(function () {
                GalleryAdd(galleryId);
                galleryId++;
            });

            $('#addCarousel').click(function () {
                CarouselAdd(carouselId.toString());
                carouselId++;
            });

            $('#addEditor').click(function () {
                EditorAdd(editorId.toString());
                editorId++;
                if (editorId == 10) {
                    $(this).hide();
                }
            });


            $(".toggleMenu").on('click',
                function() {
                    $("#mainMenu").toggleClass('open');
                });

            CKEDITOR.replace('Content');


            $("#createBtn").click(function() {
                if ($("#Title").val() === "" || $("#Content").val() === "") {
                    alert("Field's can not be empty !");
                    return;
                }
                $("div").remove(".adminControl");

                $("div#modules").find('.cke').replaceWith(function() {
                    var id = 'additionalEditor' + $(this).attr('id').substr(-1);
                    var editor = CKEDITOR.instances[id];
                    return editor.getData();
                });

                document.getElementById('AdditionalContent').value += document.getElementById('modules').innerHTML;

            });
        });

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}