@using SymCMS.ViewModels
@model SymCMS.ViewModels.PostViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    if (!ViewData.ContainsKey("postId"))
    {
        ViewData.Add("postId", Model.Id);
    }
    else
    {
        ViewData["postId"] = Model.Id;
    }
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div class="card m-3 bg-transparent" style="width:auto;">

        <div class="card-body bg-transparent shadow-lg w-auto">

            <h2 class="border-bottom border-dark card-title">@Html.DisplayNameFor(model => model.Content)</h2>
            <div class="form-text rounded border border-primary card-text mb-3"> @Html.DisplayFor(model => model.Content)</div>

        </div>

    </div>
</div>

<div>
    @Html.Partial("~/Views/Shared/_CommentSection.cshtml", new List<CommentViewModel>(ViewBag.ExComments), ViewData)
</div>
<div class="row mx-3">
    <form action="/Admin/Edit/@Model.Id">
        <input type="submit" class="btn btn-danger rounded mr-2" value="Edit" />
    </form>
    <form action="/Admin/PostsView/">
        <input type="submit" value="Back to List" class="btn btn-outline-dark" />
    </form>
</div>

@*@section Scripts{
        <script>
            $(document).ready(function () {
                $("#addComment").click(function () {
                    alert("Click : " + $('#name').val() + " " + $('#comment').val());
                    $.ajax({
                        type: "POST",
                        url: "/Comment/CreateComment/",
                        data: { AuthorName: $('#name').val(), CommentText: $('#comment').val() },
                        dataType: typeof (string)
                    }).fail(alert('Fail'));
                });
            });
        </script>
        @Scripts.Render("~/bundles/jqueryval")
    }*@