@using SymCMS.ViewModels
@model SymCMS.ViewModels.PostViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    if (!ViewData.ContainsKey("postId"))
    {
        ViewData.Add("postId", Model.Id);
    }
    else
    {
        ViewData["postId"] = Model.Id;
    }
}

    <div>
        <div class="img-container">
            <img src="@Html.ValueFor(model => model.HeadImageBase64)" alt="..." class="img-head">
            <div class="w3-hide-small text-block" >
                <h4 class="display-2">@Html.DisplayFor(model => model.Title)</h4>
            </div>
        </div>
        <hr />
        <div class="card bg-transparent" style="width:auto;">

            <div class="card-body bg-transparent w-auto">
               @Html.Raw(Model.Content)
            </div>

        </div>
    </div>
<hr />
<div class="mb-2">
        <div class="col-md-12 justify-content-end ml-0">
            <div class="switch_box box_1" style="justify-content:flex-end; right: 0%; position: absolute;">
                <p class="text-lg-left display-4 text-secondary">Comments</p>
                <input type="checkbox" class="switch_1 comment_switch" data-postid="@Model.Id" @if (Model.CommentsEnabled)
                { <text> checked</text> } />
            </div>
        </div>
        @if (Model.CommentsEnabled)
        {
            @Html.Partial("~/Views/Shared/_CommentSection.cshtml", new List<CommentViewModel>(ViewBag.ExComments), ViewData)
        }
    </div>
<div class="row mx-3">
    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
    {
        <form action="/Admin/Edit/@Model.Id">
            <input type="submit" class="btn btn-danger rounded mr-2" value="Edit" />
        </form>
        }
        <form action="/Admin/PostsView/">
            <input type="submit" value="Back to List" class="btn btn-outline-dark" />
        </form>
    </div>